.headline {
  text-align: center;
  margin-top: 150px;
  padding: 10px;
}
body {
  background-color: #ffd639;
}
.headline h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  color: #5b645d;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 25px;
}
.form input[type="text"] {
  width: 580px;
  height: 50px;
  margin-top: 10px;
  border-radius: 9px;
  padding: 5px;
  font-size: 20px;
  border: none;
  outline: none;
}
.form input [placeholder] {
  text-align: center;
}
@media (max-width: 945px) {
  .headline h1 {
    font-size: 40px;
    margin-top: 40px;
  }
}
.show-btn{
  font-weight: 700;
  font-size: 22px;
  background-color: #5b645d;
  padding: 6px 8px;
  border-radius: 5px;
  margin-top: 33px;
  margin-bottom: 10px;
  margin-left: 47vw;
  color: #ffd639;
  transition-duration: 0.4s;
}
.show-btn:hover{
  box-shadow: 2px 2px 8px white;
}
