* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.log-as-own {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 120px;
}
@media only screen and (max-width: 750px) {
  .log-as-own {
    display: flex;
    flex-direction: column;
  }
  .new-here {
    margin-top: 20px;
  }
}
.log-form {
  height: 375px;
  width: 300px;
  text-align: center;
  background-color: #fff0b8;
  padding: 20px;
  border-radius: 25px;
}
.login-pg-owner {
  color: #5b645d;
  font-size: 35px;
  font-weight: bold;
}
.log-form input {
  margin: 10px;
  height: 35px;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 1px solid #5b645d;
  letter-spacing: 3px;
  background-color: transparent;
}

input[type="text"] {
  letter-spacing: 3px;
}
input [type="password"] {
  border-bottom: 1px solid black;
}
.input-box {
  margin-top: 25px;
}
.log-form button {
  height: 40px;
  width: 75px;
  color: #313b2f;
  margin-top: 31px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: #b0b6ba;
}
.new-here {
  height: 175px;
  width: 280px;
  text-align: center;
  background-color: #fff0b8;
  border-radius: 25px;
}
.new-here h2 {
  color: #5b645d;
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
}
.new-here p {
  font-size: 20px;
  margin-top: 15px;
  color: #5b645d;
  font-weight: 300;
}

.new-here button {
  margin-top: 15px;
  color: #5b645d;
  height: 40px;
  width: 85px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  background-color: #b0b6ba;
}
.new-here button a {
  text-decoration: none;
  color: black;
  height: 40px;
  width: 75px;
  color: #313b2f;

  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
