#myMap {
  position: relative;
  width: 80%;
  margin: auto;
  min-width: 250px;
  height: 450px;
  background: url(../../public/images/bing_map.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#routeInfoPanel {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 40%;
  z-index: 100;
  font-weight: 600;
  font-size: 20px;
}
#showMap {
  position: absolute;
  top: 43%;
  left: 43%;
  font-size: 30px;
}
